#
## App-specific settings
#
NODE_ENV=development
#NODE_ENV=production
AUTH_DOMAIN=https://apidev.cdcr.ca.gov
DOC_HOST=testApiServer
PUBLISH_DOCS=true
APP_HOST=localhost
APP_PORT=8000
#SHOW_SQLFILE_CONTENTS=true
DB_HEARTBEAT_SECS=900
#
## Debugging settings
#
DEBUG=-*channels*,cdcr*,*feathersjs*,*feathers-permissions*,*feathers-sync*
#DEBUG=-*channels*,-feathersjs/configuration,cdcr*,*feathers*express*,*feathers-permissions*,*feathers-sync*
#DEBUG=cdcr*,*feathersjs*,*feathers-permissions*,*feathers-sync*,*feathers-distributed*
DEBUG_COLORS=true
DEBUG_HIDE_DATE=false
DEBUG_SHOW_HIDDEN=false
#
## JWT Authentication
JWT_SALT_SECRET=m4L65xpHaRavfc36c+vh26pdS6A=
#
## Oracle Docker Server
#
ORACLE_SVR_PORT=1521
ORACLE_GUI_PORT=5500
ORACLE_USER=system
ORACLE_PASSWORD=Oradoc_db1
ORACLE_CONNSTR=localhost:1521/ORCLPDB1.localdomain
#ORACLE_CONNSTR=localhost:1521:ORCLCDB
#
## Oracle CDCR Server
#
#ORACLE_SVR_PORT=1521
#ORACLE_GUI_PORT=5500
#ORACLE_USER=X8_username
#ORACLE_PASSWORD=X8_password
#ORACLE_CONNSTR=vcx1-scan.accounts.cdcr.ca.gov:1521/somstest1.vcx
#
## MS SQL Docker Server
#
MSSQL_SVR=localhost
MSSQL_AUTH_TYPE=default
MSSQL_USER=SA
MSSQL_PASSWORD=msSql2017@
MSSQL_PORT=1433
MSSQL_DB=master
MSSQL_DB_SCHEMA=dbo
# MSSQL_DB_INSTANCE_NAME=default
#
## MS SQL CDCR Server
#
# MSSQL_SVR=fdctoiadb30.accounts.cdcr.ca.gov
# MSSQL_AUTH_TYPE=ntlm
# MSSQL_USER=svc_acct_username
# MSSQL_PASSWORD=svc_acct_password
# MSSQL_DOMAIN=accounts.cdcr.ca.gov
# MSSQL_DB=database_name
# MSSQL_DB_SCHEMA=dbo
# MSSQL_DB_INSTANCE_NAME=server_instance
#
## POSTGRES Server
#
POSTGRESQL_SVR=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_USERNAME=postgres
POSTGRESQL_POSTGRES_PASSWORD=postgres
POSTGRESQL_DATABASE=midtier
#
## Application Mongo Server
#
MONGO_SVR=localhost
MONGO_PORT=27017
#
## MiddleTier Mongo Server
#
MTMONGO_SVR=localhost
MTMONGO_PORT=27017
#
## mySQL Server
#
MYSQL_SVR=localhost
MYSQL_PORT=3306
#
# REDIS Settings
#
REDIS_SVR=localhost
REDIS_PORT=6379
REDIS_SESSION_SECRET="o9i#q3#xNi!oqQc)kA!elNY5YIRW@+:A8fJ+C+Ec8f0S!7DW(PI+pLPH60Jhm##1"
ENABLE_REDIS_CACHE_LOGGER=true
# To enable redis caching, comment out the next line:
DISABLE_REDIS_CACHE=true
#
# FEATHERS DISTRIBUTION CONFIGURATION
# ===================================
#COTE_LOG=true
BASE_PORT=10000
HIGHEST_PORT=65535
PUBLICATION_DELAY=10000
COMPONENT_DELAY=1000
COTE_DELAY=1000
