# Available During Runtime
# All Custom Vue Environment Vars start with VUE_APP_
# Access via process.env.VUE_APP_CUSTOM_VAR_NAME

# Uncomment the PROXY_TARGET you want to test with.
# Requires a restart of the frontend server.
VUE_APP_PROXY_TARGET=http://localhost:3000
#VUE_APP_PROXY_TARGET=https://apidev.cdcr.ca.gov
#VUE_APP_PROXY_TARGET=https://apitest.cdcr.ca.gov
#VUE_APP_PROXY_TARGET=https://apipoc.cdcr.ca.gov
#VUE_APP_PROXY_TARGET=https://api.cdcr.ca.gov

#VUE_APP_DEBUG=*
#VUE_APP_DEBUG=feathers:*,sockjs-client:main,sockjs-client:polling,sockjs-client:socket,engine.io-client*,socket.io-parser,socket.io-client
#VUE_APP_DEBUG=feathers:*,sockjs-client:main
#VUE_APP_DEBUG=feathers:*,vue-frontend-template:feathers*,vue-frontend-template:store*,vue-frontend-template:registerServiceWorker
VUE_APP_DEBUG=feathers:*,vue-frontend-template*
#VUE_APP_DEBUG=